Repository FRONT-END-BOOTCAMP-PLUS-4/prolog, pull requests merged in 2025-05, with the labels that each got.

#3 Feat: Figma MCP
  README.md
  app/(user)/[email]/stories/[id]/page.tsx
  app/(user)/[email]/stories/[id]/styles.module.scss
  app/(user)/[email]/stories/page.tsx
  app/(user)/[email]/stories/styles.module.scss
  app/global.scss
  app/layout.tsx
  app/page.tsx
  app/styles.module.scss
  app/styles/_base.scss
  app/styles/_layout.scss
  app/styles/_reset.scss
  app/styles/_themes.scss
  app/styles/_variables.scss
  app/styles/layout.module.scss
  features/search-input/container/PostsSearchCont.tsx
  features/search-input/index.ts
  features/search-input/presentational/SearchInputPres.tsx
  features/search-input/styles/SearchInputPres.module.scss
  next.config.ts
  public/.gitkeep
  public/svgs/ai.svg
  public/svgs/alarm.svg
  public/svgs/book.svg
  public/svgs/card.svg
  public/svgs/clean.svg
  public/svgs/comment.svg
  public/svgs/down.svg
  public/svgs/download.svg
  public/svgs/edit.svg
  public/svgs/image.svg
  public/svgs/list.svg
  public/svgs/love.svg
  public/svgs/profile.svg
  public/svgs/search.svg
  public/svgs/section.svg
  public/svgs/up.svg
  shared/ui/.gitkeep
  shared/ui/button-linkable/index.tsx
  shared/ui/button-linkable/styles.module.scss
  shared/ui/logo/index.tsx
  shared/ui/logo/styles.module.scss
  tsconfig.json
  widgets/.gitkeep
  widgets/card/container/.gitkeep
  widgets/card/index.ts
  widgets/card/presentational/LongCardPres.tsx
  widgets/card/presentational/SquareCardPres.tsx
  widgets/card/styles/LongCardPres.module.scss
  widgets/card/styles/SquareCardPres.module.scss
  widgets/header/container/CheckUserCont.tsx
  widgets/header/index.ts
  widgets/header/presentational/HeaderPres.tsx
  widgets/header/styles/HeaderPres.module.scss
Labels: ✨ FEAT, 📝 DOCS

#4 Feat: 프로젝트 추가 세팅
  README.md
  app/layout.tsx
  app/styles/_reset.scss
  package-lock.json
  package.json
  public/fonts/pretendard-medium.woff2
Labels: ⚙️ CHORE, 📝 DOCS

#5 Feat: 공용버튼 생성
  app/styles/_themes.scss
  app/styles/_variables.scss
  package-lock.json
  package.json
  shared/ui/button-linkable/index.tsx
  shared/ui/button-linkable/styles.module.scss
  shared/ui/button/Button.module.scss
  shared/ui/button/index.tsx
  widgets/header/presentational/HeaderPres.tsx
Labels: ✨ FEAT, 📝 DOCS, ♻️ REFACTOR

#6 Feat: Login UI 생성
  .vscode/settings.json
  global.d.ts
  next.config.ts
  public/svgs/github-mark.svg
  public/svgs/google.webp
  tsconfig.json
  widgets/login/presentation/LoginFormPres.tsx
  widgets/login/styles/LoginFormPres.module.scss
Labels: ✨ FEAT, 📝 DOCS, 🎨 STYLE

#7 Feat: 외부 클릭 감지 커스텀 훅 추가
  shared/hooks/useOnClickOutside.ts
Labels: ✨ FEAT, ♻️ REFACTOR

#9 Feat: 카드 리스트 UI 리팩터링 및 컴포넌트/스타일 구조 개선
  app/page.tsx
  app/styles.module.scss
  shared/hooks/.gitkeep
  views/.gitkeep
  views/card-list/container/CardListCont.tsx
  views/card-list/presentational/CardListPres.tsx
  views/card-list/styles/CardListPres.module.scss
  widgets/card/container/.gitkeep
  widgets/card/presentational/LongCardPres.tsx
  widgets/card/presentational/SquareCardPres.tsx
  widgets/card/styles/LongCardPres.module.scss
  widgets/card/styles/SquareCardPres.module.scss
Labels: ✨ FEAT, ⚙️ CHORE, ♻️ REFACTOR, 🎨 STYLE

#10 Chore: linter 규칙 설정 추가 및 일부 비활성화
  biome.json
  settings.json
Labels: ⚙️ CHORE

#11 Style: font @mixin 추가
  app/global.scss
  app/styles/_variables.scss
Labels: 🎨 STYLE

#12 "Feat: 팔로우 및 팔로워 UI 생성"
  app/(user)/[email]/stories/page.tsx
  features/subscription/container/SubscriptionCont.tsx
  features/subscription/presentational/SubscriptionPres.tsx
  shared/ui/button/Button.module.scss
  shared/ui/button/index.tsx
Labels: ✨ FEAT

#15 Feat: 게시글 상세보기 페이지 컴포넌트 분리
  app/(user)/[email]/stories/[id]/page.tsx
  app/(user)/[email]/stories/[id]/styles.module.scss
  biome.json
  features/bookmark/container/BookmarkButtonCont.tsx
  features/bookmark/index.ts
  features/bookmark/presentational/BookmarkButtonPres.tsx
  features/bookmark/styles/BookmarkButton.module.scss
  features/like/container/LikeButtonCont.tsx
  features/like/index.ts
  features/like/presentational/LikeButtonPres.tsx
  features/like/styles/LikeButton.module.scss
  shared/ui/profile/Profile.module.scss
  shared/ui/profile/index.tsx
  views/post-detail/container/AiSummaryCont.tsx
  views/post-detail/container/BodyTextCont.tsx
  views/post-detail/container/CommentInputCont.tsx
  views/post-detail/container/CommentListCont.tsx
  views/post-detail/index.ts
  views/post-detail/presentational/AiSummaryPres.tsx
  views/post-detail/presentational/BodyTextPres.tsx
  views/post-detail/presentational/CommentInputPres.tsx
  views/post-detail/presentational/CommentListPres.tsx
  views/post-detail/presentational/CommentLoginPromptPres.tsx
  views/post-detail/styles/AiSummaryPres.module.scss
  views/post-detail/styles/CommentInputPres.module.scss
  views/post-detail/styles/CommentListPres.module.scss
  views/post-detail/styles/CommentLoginPromptPres.module.scss
Labels: ✨ FEAT, ⚙️ CHORE

#19 chore: 아이콘 라이브러리 radix-ui/react-icons 설치
  package-lock.json
  package.json
Labels: ⚙️ CHORE

#18 Feat: 반응형 헤더 컴포넌트 구현
  app/header/container/CheckUserCont.tsx
  app/header/index.ts
  app/header/presentational/HeaderPres.tsx
  app/header/styles/HeaderPres.module.scss
  app/layout.tsx
  app/styles/_variables.scss
  app/styles/layout.module.scss
  public/svgs/logo.svg
  widgets/header/presentational/HeaderPres.tsx
  widgets/header/styles/HeaderPres.module.scss
Labels: ✨ FEAT, ⚙️ CHORE, ♻️ REFACTOR, 🎨 STYLE

#20 Style: setting page 생성
  app/member/setting/Setting.module.scss
  app/member/setting/page.tsx
Labels: 🎨 STYLE

#16 Feat : text editor 작업
  app/member/story/page.tsx
  biome.json
  package-lock.json
  package.json
  shared/hooks/useImageDrop.ts
  views/post-form/container/PostFormCont.tsx
  views/post-form/presentational/PostFormPres.tsx
  views/post-form/presentational/PostTagSectionPres.tsx
  views/post-form/styles/PostFormPres.module.scss
  views/post-form/styles/PostTagSeactionPres.module.scss
Labels: ✨ FEAT, ♻️ REFACTOR

#21 Feat: 알림 모달 제작
  features/notification-delete/container/DeleteNotificationCont.tsx
  features/notification-delete/index.ts
  features/notification-item/container/NotificationItemCont.tsx
  features/notification-item/index.ts
  features/notification-item/presentational/NotificationItemPres.tsx
  features/notification-item/styles/NotificationItemPres.module.scss
  features/notification-item/types.ts
  features/notification-mark-all-read/container/MarkAllReadCont.tsx
  features/notification-mark-all-read/index.ts
  widgets/notification/container/NotificationModalCont.tsx
  widgets/notification/index.ts
  widgets/notification/presentational/NotificationModalPres.tsx
  widgets/notification/styles/NotificationModalPres.module.scss
Labels: ✨ FEAT, 🎨 STYLE

#17 Feat: 팔로우 및 팔로워리스트 UI 생성
  app/(user)/[email]/stories/page.tsx
  app/(user)/[email]/stories/styles.module.scss
  features/category-list/container/CategoryListCont.tsx
  features/category-list/presentational/CategoryListPres.tsx
  features/category-list/styles/categoryList.module.scss
  features/category-list/types.ts
  features/subscription-list/container/SubscriptionListCont.tsx
  features/subscription-list/presentational/SubscriptionListPres.tsx
  features/subscription-list/styles/subscriptionList.module.scss
  features/subscription-list/types.ts
  features/subscription/container/SubscriptionCont.tsx
  views/profile-card/presentational/ProfileCardPres.tsx
  views/profile-card/styles/ProfileCardPres.module.scss
  views/tag/container/TagListCont.tsx
  widgets/card/styles/LongCardPres.module.scss
Labels: 🐛 FIX, ✨ FEAT, ⛔️ REMOVE, ♻️ REFACTOR, 🎨 STYLE

#23 Feat: 게시글 임시저장 모달 구현
  package-lock.json
  package.json
  public/svgs/info.svg
  public/svgs/trash.svg
  views/post-draft/container/PostDraftListCont.tsx
  views/post-draft/presentational/PostDraftListPres.tsx
  views/post-draft/styles/PostDraftListPres.module.scss
  views/post-draft/types.ts
  views/post-form/presentational/PostFormPres.tsx
Labels: ✨ FEAT

#26 Feat: Theme 임시버튼 생성
  app/header/presentational/HeaderPres.tsx
Labels: ✨ FEAT

#30 Style: global layout css 변경
  app/styles/_reset.scss
  app/styles/layout.module.scss
  shared/ui/modal/Modal.module.scss
Labels: 🐛 FIX, 🎨 STYLE

#29 Refactor: 알림 로직 수정
  features/notification-delete/container/DeleteNotificationCont.tsx
  features/notification-list/container/NotificationListCont.tsx
  features/notification-list/index.ts
  features/notification-list/presentational/NotificationListPres.tsx
  features/notification-list/styles/NotificationListPres.module.scss
  features/notification-list/types.ts
  features/notification-mark-all-read/container/MarkAllReadCont.tsx
  widgets/notification/container/NotificationModalCont.tsx
  widgets/notification/presentational/NotificationModalPres.tsx
  widgets/notification/styles/NotificationModalPres.module.scss
Labels: ♻️ REFACTOR

#28 Feat: 통합 검색 기능 클라이언트 로직 및 UI 구현
  biome.json
  features/search-input/container/PostsSearchCont.tsx
  features/search-input/presentational/SearchInputPres.tsx
  features/search-input/styles/SearchInputPres.module.scss
  features/search-input/types.ts
Labels: ✨ FEAT, ⚙️ CHORE, 🎨 STYLE

#33 Refactor: 글 상세보기 관련 이슈 수정
  app/(user)/[email]/stories/[id]/styles.module.scss
  features/bookmark/presentational/BookmarkButtonPres.tsx
  features/bookmark/styles/BookmarkButton.module.scss
  features/like/presentational/LikeButtonPres.tsx
  features/like/styles/LikeButton.module.scss
  features/notification-item/container/NotificationItemCont.tsx
  features/notification-item/index.ts
  features/notification-item/presentational/NotificationItemPres.tsx
  features/notification-item/styles/NotificationItemPres.module.scss
  features/notification-item/types.ts
  features/notification-list/styles/NotificationListPres.module.scss
  views/post-detail/styles/CommentInputPres.module.scss
  views/post-detail/styles/CommentListPres.module.scss
Labels: ♻️ REFACTOR, 🎨 STYLE

#34 chore: 서비스색상 재정의
  app/(user)/[email]/stories/[id]/styles.module.scss
  app/header/styles/HeaderPres.module.scss
  app/member/setting/Setting.module.scss
  app/styles/_reset.scss
  app/styles/_themes.scss
  app/styles/_variables.scss
  features/category-list/styles/categoryList.module.scss
  features/like/styles/LikeButton.module.scss
  features/notification-list/styles/NotificationListPres.module.scss
  features/search-input/styles/SearchInputPres.module.scss
  features/subscription-list/styles/subscriptionList.module.scss
  shared/ui/button/Button.module.scss
  shared/ui/profile/Profile.module.scss
  views/card-list/styles/CardListPres.module.scss
  views/post-detail/styles/AiSummaryPres.module.scss
  views/post-detail/styles/CommentInputPres.module.scss
  views/post-detail/styles/CommentLoginPromptPres.module.scss
  views/post-draft/styles/PostDraftListPres.module.scss
  views/post-form/styles/PostFormPres.module.scss
  widgets/card/styles/LongCardPres.module.scss
  widgets/card/styles/SquareCardPres.module.scss
  widgets/login/styles/LoginFormPres.module.scss
  widgets/notification/styles/NotificationModalPres.module.scss
Labels: ⚙️ CHORE, 🎨 STYLE

#35 Fix: 카드 관련 이슈 수정
  app/page.tsx
  features/select/container/SelectCont.tsx
  features/select/index.ts
  features/select/presentational/SelectPres.tsx
  features/select/styles/SelectPres.module.scss
  features/select/types.ts
  features/tag-list/container/TagListCont.tsx
  features/tag-list/index.ts
  features/tag-list/presentational/TagListPres.tsx
  features/tag-list/styles/TagList.module.scss
  features/tag-list/types.ts
  views/card-list/container/CardListCont.tsx
  views/card-list/index.ts
  views/card-list/presentational/CardListPres.tsx
  views/card-list/styles/CardListPres.module.scss
  views/card-list/types.ts
  widgets/card/presentational/LongCardPres.tsx
  widgets/card/presentational/SquareCardPres.tsx
  widgets/card/styles/LongCardPres.module.scss
  widgets/card/styles/SquareCardPres.module.scss
  widgets/card/types.ts
Labels: ✨ FEAT, ⚙️ CHORE, ♻️ REFACTOR, 🎨 STYLE

#37 Fix: 헤더 관련 이슈 수정
  app/header/presentational/HeaderPres.tsx
  app/header/styles/HeaderPres.module.scss
  features/search-input/container/PostsSearchCont.tsx
  features/search-input/styles/SearchInputPres.module.scss
Labels: ✨ FEAT, ♻️ REFACTOR

#38 #25 Fix: 마이페이지 및 설정 이슈관련 UI 수정
  app/(user)/[email]/stories/page.tsx
  app/(user)/[email]/stories/styles.module.scss
  app/member/setting/Setting.module.scss
  app/member/setting/page.tsx
  features/category-list/container/CategoryListCont.tsx
  features/category-list/presentational/CategoryListPres.tsx
  features/category-list/styles/categoryList.module.scss
  views/profile-card/presentational/ProfileCardPres.tsx
  views/profile-card/styles/ProfileCardPres.module.scss
Labels: 🐛 FIX, ♻️ REFACTOR, 🎨 STYLE

#44 Style: 색상 테마 변수 적용
  app/(user)/[email]/stories/[id]/styles.module.scss
  features/like/styles/LikeButton.module.scss
  shared/ui/button/Button.module.scss
  views/post-detail/styles/AiSummaryPres.module.scss
  views/post-detail/styles/CommentInputPres.module.scss
  views/post-detail/styles/CommentLoginPromptPres.module.scss
Labels: 🎨 STYLE

#40 Feat: auth설정
  app/(auth)/auth.ts
  app/(auth)/providers.tsx
  app/api/auth/[...nextauth]/route.ts
  app/api/oauth/route.ts
  app/api/test/route.ts
  app/layout.tsx
  app/login-csr/page.tsx
  app/login-ssr/page.tsx
  middleware.ts
  next-auth.d.ts
  next.config.ts
  package-lock.json
  package.json
  widgets/login/presentation/LoginFormPres.tsx
Labels: ✨ FEAT, 📝 DOCS

#48 Feat: 상세보기 본문에 태그 리스트 구현
  views/post-detail/container/BodyTextCont.tsx
  views/post-detail/presentational/BodyTextPres.tsx
  views/post-detail/styles/AiSummaryPres.module.scss
  views/post-detail/styles/BodyTextPres.module.scss
Labels: ✨ FEAT, 🎨 STYLE

#47 Refactor: 카테고리 데스크탑 or 모바일 UI 렌더링 로직 수정
  app/(user)/[email]/stories/page.tsx
  features/category-list/container/CategoryListCont.tsx
  features/category-list/presentational/CategoryListPres.tsx
  features/category-list/styles/categoryList.module.scss
  features/search-input/styles/SearchInputPres.module.scss
  features/subscription-list/presentational/SubscriptionListPres.tsx
  features/subscription-list/styles/subscriptionList.module.scss
  features/subscription/presentational/SubscriptionPres.tsx
  views/profile-card/container/ProfileCardCont.tsx
  views/profile-card/presentational/ProfileCardPres.tsx
Labels: ✨ FEAT, ♻️ REFACTOR, 🎨 STYLE

#49 Rename: 폴더 구조 및 이름 변경
  app/(user)/[email]/stories/[id]/page.tsx
  app/(user)/[email]/stories/page.tsx
  app/page.tsx
  middleware.ts
  views/detail/post-detail/container/AiSummaryCont.tsx
  views/detail/post-detail/container/BodyTextCont.tsx
  views/detail/post-detail/container/CommentInputCont.tsx
  views/detail/post-detail/container/CommentListCont.tsx
  views/detail/post-detail/index.ts
  views/detail/post-detail/presentational/AiSummaryPres.tsx
  views/detail/post-detail/presentational/BodyTextPres.tsx
  views/detail/post-detail/presentational/CommentInputPres.tsx
  views/detail/post-detail/presentational/CommentListPres.tsx
  views/detail/post-detail/presentational/CommentLoginPromptPres.tsx
  views/detail/post-detail/styles/AiSummaryPres.module.scss
  views/detail/post-detail/styles/BodyTextPres.module.scss
  views/detail/post-detail/styles/CommentInputPres.module.scss
  views/detail/post-detail/styles/CommentListPres.module.scss
  views/detail/post-detail/styles/CommentLoginPromptPres.module.scss
  views/detail/post-detail/types.ts
  views/home/card-list/container/CardListCont.tsx
  views/home/card-list/index.ts
  views/home/card-list/presentational/CardListPres.tsx
  views/home/card-list/styles/CardListPres.module.scss
  views/home/card-list/types.ts
  views/post/post-draft/container/PostDraftListCont.tsx
  views/post/post-draft/presentational/PostDraftButtonPres.tsx
  views/post/post-draft/presentational/PostDraftListPres.tsx
  views/post/post-draft/styles/PostDraftButtonPres.module.scss
  views/post/post-draft/styles/PostDraftListPres.module.scss
  views/post/post-draft/types.ts
  views/post/post-form/container/PostFormCont.tsx
  views/post/post-form/presentational/PostFormPres.tsx
  views/post/post-form/presentational/PostTagSectionPres.tsx
  views/post/post-form/styles/PostFormPres.module.scss
  views/post/post-form/styles/PostTagSectionPres.module.scss
  views/setting/.gitkeep
  views/story/profile-card/container/ProfileCardCont.tsx
  views/story/profile-card/presentational/ProfileCardPres.tsx
  views/story/profile-card/styles/ProfileCardPres.module.scss
  views/story/profile-card/types.ts
Labels: ✍🏻 RENAME, 💬 COMMENT

#50 Chore: 폴더 구조 변경에 따른 페이지 경로 수정
  app/member/story/page.tsx
  views/post/post-form/container/PostFormCont.tsx
Labels: ⚙️ CHORE

#54 Feat: 게시글&댓글 수정&삭제 기능 구현
  app/(user)/[email]/stories/[id]/page.tsx
  app/(user)/[email]/stories/[id]/styles.module.scss
  features/delete/container/DeleteButtonCont.tsx
  features/delete/index.ts
  features/delete/presentational/DeleteButtonPres.tsx
  features/delete/styles/DeleteButtonPres.module.scss
  features/edit/container/EditButtonCont.tsx
  features/edit/index.ts
  features/edit/presentational/EditButtonPres.tsx
  features/edit/styles/EditButtonPres.module.scss
  views/detail/post-detail/container/CommentListCont.tsx
  views/detail/post-detail/presentational/CommentListPres.tsx
  views/detail/post-detail/styles/CommentListPres.module.scss
  views/detail/post-detail/types.ts
Labels: ✨ FEAT

#55 Feat: 임시 글 선택 시 상태 저장 및 초기값 설정 기능 추가
  app/api/member/posts/route.ts
  back/posts/application/dto/GetPostDraftViewDto.ts
  back/posts/application/usecases/GetPostDraftListUsecase.ts
  views/post/post-draft/container/PostDraftListCont.tsx
  views/post/post-draft/presentational/PostDraftListPres.tsx
  views/post/post-draft/stores/useDraftStore.ts
  views/post/post-draft/types.ts
  views/post/post-form/container/PostFormCont.tsx
  views/post/post-form/presentational/PostFormPres.tsx
  views/post/stores/usePostEditorStore.ts
Labels: 🐛 FIX, ✨ FEAT

#57 Feat: 게시글 전체 조회 기능 구현 및 필터링, API 연동
  back/posts/application/dto/GetPostListAllDto.ts
  back/posts/application/usecases/GetPostListAllUsecase.ts
  back/posts/domain/PostListAllRepository.ts
  back/posts/infra/PrPostListAllRepository.ts
  shared/utils/stripmarkdown/index.ts
Labels: ✨ FEAT

#58 Refactor : 이미지 업로드 로직 클린 아키텍처로 분리 및 API 경로 변경
  app/api/member/posts/upload/route.ts
  back/upload/application/usecases/UploadImgUsecase.ts
  back/upload/domain/UploadImgRepository.ts
  back/upload/infra/UploadImgToS3Repository.ts
  views/post/post-draft/container/PostDraftListCont.tsx
  views/post/post-draft/presentational/PostDraftListPres.tsx
  views/post/post-form/container/PostFormCont.tsx
  views/post/post-form/presentational/PostFormPres.tsx
Labels: ✨ FEAT, ♻️ REFACTOR

#59 Feat: 게시글 리스트 데이터 바인딩
  app/api/posts/route.ts
  back/posts/application/dto/GetPostListAllDto.ts
  back/posts/application/usecases/GetPostListAllUsecase.ts
  back/posts/domain/PostListAllRepository.ts
  back/posts/infra/PrPostListAllRepository.ts
  next.config.ts
  shared/ui/profile/index.tsx
  views/home/card-list/container/CardListCont.tsx
  views/home/card-list/types.ts
  widgets/card/presentational/LongCardPres.tsx
  widgets/card/presentational/SquareCardPres.tsx
  widgets/card/styles/SquareCardPres.module.scss
  widgets/card/types.ts
Labels: ✨ FEAT, ⚙️ CHORE, 🎨 STYLE

#60 Feat: 유저프로필 백엔드 로직 구현
  app/(user)/[email]/stories/page.tsx
  app/api/member/route.ts
  back/story/profile/application/dto/GetProfileDto.ts
  back/story/profile/application/usecase/GetProfileUsecase.ts
  back/story/profile/domain/ProfileRepository.ts
  back/story/profile/infra/PrProfileRepository.ts
  prisma/schema.prisma
  views/story/profile-card/container/ProfileCardCont.tsx
  views/story/profile-card/presentational/ProfileCardPres.tsx
  views/story/profile-card/styles/ProfileCardPres.module.scss
  views/story/profile-card/types.ts
Labels: ✨ FEAT, ♻️ REFACTOR

#68 Feat: META 상수 및 getMetadata 함수 생성 후 RootLayout 에 적용
  app/layout.tsx
  public/icons/prolog.webp
  shared/consts/.gitkeep
  shared/consts/metadata.ts
  shared/utils/metadata/index.tsx
Labels: ✨ FEAT

#69 Feat : 게시글 작성 시, 구독중인 유저들에게 알림주는 백엔드 로직 작성
  app/api/member/posts/route.ts
  app/api/member/subscription/route.ts
  back/notification/application/dto/SendNotificationDto.ts
  back/notification/application/usecases/SendNotificationUsecase.ts
  back/notification/domain/NotificationRepository.ts
  back/notification/infra/PrNotificationRepository.ts
  back/posts/application/usecases/CreatePostUsecase.ts
  back/subscribe/application/usecases/GetFollowerUsecase.ts
  back/subscribe/domain/SubscribeRepository.ts
  back/subscribe/infra/PrSubscribeRepository.ts
Labels: ✨ FEAT

#70 Feat: alarm list
  app/api/member/notifications/route.ts
  back/alarm/application/dto/GetAlarmListDto.ts
  back/alarm/application/usecases/GetAlarmListUsecase.ts
  back/alarm/domain/AlarmRepository.ts
  back/alarm/infra/PrAlarmRepository.ts
  next-auth.d.ts
  package-lock.json
  package.json
  prisma/seed.js
  prisma/unseed.js
  tsconfig.json
Labels: ✨ FEAT, 📝 DOCS

#63 Feat: 게시글 상세조회 백엔드 작업
  app/(user)/[email]/stories/[id]/page.tsx
  app/api/posts/[id]/route.ts
  back/posts/application/dto/GetPostViewDto.ts
  back/posts/application/usecases/GetPostUsecase.ts
  back/posts/domain/PostsRepository.ts
  back/posts/infra/PrPostsRepository.ts
  features/bookmark/container/BookmarkButtonCont.tsx
  features/delete/container/DeleteButtonCont.tsx
  features/edit/container/EditButtonCont.tsx
  features/like/container/LikeButtonCont.tsx
  shared/ui/profile/index.tsx
  views/detail/post-detail/container/AiSummaryCont.tsx
  views/detail/post-detail/container/BodyTextCont.tsx
  views/detail/post-detail/container/CommentListCont.tsx
  views/detail/post-detail/presentational/AiSummaryPres.tsx
  views/detail/post-detail/presentational/BodyTextPres.tsx
  views/detail/post-detail/presentational/CommentListPres.tsx
  views/detail/post-detail/types.ts
Labels: ✨ FEAT

#72 Feat: alarm check
  app/api/member/notifications/route.ts
  back/alarm/application/usecases/PutAlarmCheckUsecase.ts
  back/alarm/domain/AlarmRepository.ts
  back/alarm/infra/PrAlarmRepository.ts
  prisma/seed.js
  widgets/notification/container/NotificationModalCont.tsx
Labels: ✨ FEAT, ♻️ REFACTOR
